extends ../adminlte/layout

block header

block footer
    script(src='/plugins/tinymce/dist/tinymce.min.js')
    script(src='/js/modules/ms_aproval/close.js')    

block content
    .col-md-12
        .box.box-info
            .box-header.with-border
                h3.box-title #{title}
            // /.box-header
            // form start
            form.form-horizontal
                .box-body
                    #alertbox.alert.alert-warning
                        a#closeAlert.close.btn.btn-sm(href='javascript:;')
                            i.fa.fa-times
                        text#message
                    .row
                        if !isAddForm
                            input(type='hidden', name='ids', value=ids)
                        
                        .col-md-12
                            .form-group
                                label.col-sm-2.control-label(for='no_ticket') No Ticket
                                .col-sm-8
                                    input#no_ticket.form-control(type='text', placeholder='NO TICKET', readonly)
                            .form-group
                                label.col-sm-2.control-label(for='service_code') Type Service
                                .col-sm-8
                                    input#service_code.form-control(type='text', readonly)

                            .form-group
                                label.col-sm-2.control-label(for='id_atm') SSBID
                                .col-sm-8
                                    input#id_atm.form-control(type='text', placeholder='SSBID', readonly)
                            .form-group
                                label.col-sm-2.control-label(for='atm_location') ATM Location
                                .col-sm-8
                                    input#atm_location.form-control(type='text', readonly)
                                    
                            .form-group
                                label.col-sm-2.control-label(for='service_image_before') Image Before
                                .col-sm-8 
                                    img#service_image_before(width='100%')
                            .form-group
                                label.col-sm-2.control-label(for='service_image_after') Image After
                                .col-sm-8
                                    img#service_image_after(width='100%')

                            
                            
                            .form-group
                                label.col-sm-2.control-label(for='service_notes_before') Notes Before
                                .col-sm-8
                                    #service_notes_before.form-control      

                            
                                
                                

                            .form-group
                                label.col-sm-2.control-label(for='service_notes') Notes
                                .col-sm-8
                                    textarea#service_notes.form-control(type='text', rows=15, placeholder='Notes')
                            
                            
                            .form-group
                                .col-sm-2
                                .col-sm-10
                                    
                                    a.btn.btn-primary(href='javascript:update("DRAFT");') DRAFT
                                    | 
                                    a.btn.btn-success#btnexec(href='javascript:update("CLOSE");') CLOSE
                                    | 
                                    a.btn.btn-warning(href='/ms_service') CANCEL
                // /.box-body
                .box-footer
    
        .col-md-12

            ul.timeline#timeliner
                
                
                   