nav.navbar.navbar-dark.fixed-top.bg-dark.flex-md-nowarp.p-0.shadow
    a.navbar-brand.col-sm-3.col-md-2.mr-0(href="#") COMPANY
    ul.navbar-nav.px-3
        li.navbar-item.text-nowarp
        a.nav-link(href="/login/exit") Sign Out
