doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login.css')
    link(rel='stylesheet', href='/plugins/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/plugins/fontawesome/css/all.min.css')
    
  body
    .container-fluid
      .row
        .col-md-3
        .col-md-6
          
        .col-md-3
    
    script(type='text/javascript', src='/plugins/jquery/jquery.min.js')
    script(type='text/javascript', src='/plugins/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript', src='/plugins/fontawesome/js/all.min.js')
